.faktura-sida-container {
  display: flex;
  flex-flow: column nowrap;
}

.sid-rubrik {
  color: white;
  position: relative;
  font-size: 18pt;
  z-index: 3;
  margin-left: 100px;
  margin-top: 70px;
}

.fakturor-btn-holder {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-self: center;
  width: 80%;
  margin-right: -40px;
  margin-left: 10px;
  margin-top: 100px;
  margin-bottom: 5px;
}

.filter-btn-holder {
  display: flex;
  flex-flow: row nowrap;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 0px;
}

.faktura-holder {
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-content: center;
  width: 80%;
  height: 100vh;
  overflow-y: scroll;
  margin-left: 50px;
  border-top: 1px solid #a3a3a3;
}

.faktura-bollar {
  display: flex;
  flex-flow: row nowrap;
  width: 500px;
  float: right;
  margin-top: -90px;
  margin-right: 80px;
}
