.profile-button {
  background: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 20px;
  width: 40px;
  font-size: 6pt;
  padding-top: 5px;
  text-align: center;
  color: #3b5360;
}

.modal-confirm {
  color: #434e65;
  width: 525px;
}
.modal-confirm .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  background: #00a2ff;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}
.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirm .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}
.modal-confirm .close:hover {
  opacity: 0.8;
}
.modal-confirm .icon-box {
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  border-radius: 50%;
  z-index: 9;
  padding: 15px;
  text-align: center;
}
.modal-confirm .icon-box i {
  font-size: 64px;
  margin: -4px 0 0 -4px;
}

.modal-confirm.modal-dialog {
  margin-top: 80px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  border: none;
}
.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #eda645;
  outline: none;
}
.modal-confirm .btn span {
  margin: 1px 3px 0;
  float: left;
}
.modal-confirm .btn i {
  margin-left: 1px;
  font-size: 20px;
  float: right;
}
.trigger-btn {
  display: inline-block;
}

.popup-profile-picture {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  position: absolute;
  left: 7%;
  bottom: 21.3%;
}
.popup-username {
  position: absolute;
  right: 30%;
}

.popup-profile-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.röd-plupp,
.grön-plupp {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 50;
  left: 45px;
  top: 40px;
}

.röd-plupp {
  background-color: red;
}

.grön-plupp {
  background-color: green;
}

.title-box {
  background-color: #00a2ff;
  height: 20px;
  width: 200px;
  padding: 1px;
  margin-top: 10px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}

.title-text {
  color: white;
  font-size: 8pt;
  position: absolute;
  left: 10px;
  bottom: -13px;
}

.content-box {
  background-color: white;
  width: 50%;
  height: 80%;
  float: right;
  position: absolute;
  right: 2px;
  top: 2px;
  font-weight: 10;
}

.content-text {
  color: #3b5360;
  font-size: 8pt;
  position: absolute;
  left: 10px;
  bottom: -15px;
}
.konsult-header {
  width: 250px;
  height: 75px;
  background: linear-gradient(270deg, #6dcf37 0%, #00a2ff 100%);
  position: absolute;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.konsult-body {
  width: 250px;
  height: 270px;
  background: #f3f3f3;
  opacity: 0.9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-holder {
  display: flex;
  flex-flow: row nowrap;
}
.konsult-info{
  position: relative;
  top: 120px;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: grey;
  border-radius: 50px;
}
