.profile-button {
  background: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 20px;
  width: 40px;
  font-size: 6pt;
  padding-top: 5px;
  text-align: center;
  color: #3b5360;
  z-index: 9;
}
.popup-profile-picture {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  position: absolute;
  left: 7%;
  bottom: 21.3%;
}
.popup-username {
  position: absolute;
  right: 30%;
}

.popup-profile-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.röd-plupp,
.grön-plupp {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  position: absolute;
  left: 45px;
  top: 40px;
}

.röd-plupp {
  background-color: red;
}

.grön-plupp {
  background-color: green;
}

.title-box {
  background-color: #00a2ff;
  height: 20px;
  width: 200px;
  padding: 1px;
  margin-top: 10px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}

.title-text {
  color: white;
  font-size: 8pt;
  position: absolute;
  left: 10px;
  bottom: -13px;
}

.content-box {
  background-color: white;
  width: 50%;
  height: 80%;
  float: right;
  position: absolute;
  right: 2px;
  top: 2px;
  font-weight: 10;
}

.content-text {
  color: #3b5360;
  font-size: 8pt;
  position: absolute;
  left: 10px;
  bottom: -15px;
}
.konsult-header {
  width: 250px;
  height: 75px;
  background: linear-gradient(270deg, #6dcf37 0%, #00a2ff 100%);
  position: absolute;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.konsult-body {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 250px;
  height: 270px;
  background: #f3f3f3;
  opacity: 0.9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-holder {
  display: flex;
  flex-flow: row nowrap;
  width: inherit;
  justify-content: space-evenly;
}
.konsult-info {
  position: relative;
  top: 120px;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: grey;
  border-radius: 50px;
}
