.header-content {
  background: linear-gradient(270deg, #6dcf37 0%, #00a2ff 100%);
  width: 100vw;
  height: 100px;
  overflow-x: hidden;
}
.page-header {
  z-index: 2;
  color: white;
  position: absolute;
  top: 147px;
  left: 113px;
}

.konsultsida-container {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: auto;
  width: 100vw;
}
.konsult-button-holder {
  width: 40%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 350px;
  margin-top: 100px;
  padding-bottom: 10px;
}

.konsultlåda-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 700px;
  height: 100vh;
  overflow-y: scroll;
  margin-top: 5px;
  border-top: 1px solid #a3a3a3;
}
