.tidrapportsida-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

.tidrapport-page-header {
    font-size: 16pt;
        z-index: 2;
        color: white;
        position: absolute;
        top: 147px;
        margin-left: 115px;
}

.tidrapport-button-holder {
    width: 40%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 395px;
    margin-top: 100px;
}

.tidrapport-låda-container {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-left: 120px;
}