.tidrapportsida-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
}

.tidrapport-page-header {
  font-size: 16pt;
  z-index: 2;
  color: white;
  position: absolute;
  top: 147px;
  margin-left: 115px;
}

.tidrapport-button-holder {
  width: 40%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 450px;
  margin-top: 100px;
  padding-bottom: 10px;
}

.tidrapport-låda-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 90%;
  height: 100vh;
  overflow-y: scroll;
  border-top: 1px solid #a3a3a3;
}
.tidrapp-spacer {
  height: 100px;
  width: 100%;
  padding-top: 200px;
}

.tidrapport-detalj-page-header {
  font-size: 16pt;
  z-index: 2;
  color: white;
  position: absolute;
  top: 147px;
  margin-left: 130px;
}
.information-container {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 20px;
  color: #3b5360;
  margin-left: 147px;
  margin-bottom: -10px;
  margin-top: 104px;
}

.information-container p{
  z-index: 2;
}
.frostatGlas {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0.5px solid #a3a3a3;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  box-shadow: inset 0px 15.3829px 15.3829px rgba(0, 0, 0, 0.25);
  width: 90vw;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-bottom: 5px;
  padding-bottom: 10px;
  box-sizing: border-box;
  align-self: center;
}
.tidrapport-detalj-button-holder {
  width: 50%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 250px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.tidrapport-detalj-låda-container {
  margin-left: 80px;
  box-sizing: border-box;
}

.tidrapp-bollar {
  display: flex;
  flex-flow: row nowrap;
  width: 500px;
  float: right;
  margin-top: 10px;
  margin-right: 80px;
}

.vecko-nummer-text {
  background: linear-gradient(180deg, #ebee47 4.17%, #00b2ff 100%);
  box-shadow: 0px 17.8857px 35.7714px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 27px;
  height: 27px;
  padding: 7px;
}
.weekDays{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 46px;
  z-index:2;
}

.weekDay{
  float:left;
  padding-left: 43px;
}
