body {
  margin: 0;
  font-family: "Viga", sans-serif;
  width: 100vw;
  height: 100vh;
}

.frostatGlas {
  position: relative;
  background-color: #ffffff;
  opacity: 0.5;
  backdrop-filter: blur(50px);
  border: 1px solid #a3a3a3;
  box-shadow: inset 0px 15px 15px rgba (0, 0, 0, 0.25);
  height: 80vh;
  width: 50vw;
  box-sizing: border-box;
}

.InputDiv {
  background-color: #6dcf37;
  height: 20px;
  width: 200px;
  padding: 1px;
  margin-top: 10px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}

.inputfält {
  width: 50%;
  height: 80%;
  float: right;
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 6pt;
  font-weight: 10;
}

.inputlabel {
  color: white;
  font-size: 8pt;
  position: absolute;
  left: 10px;
  bottom: -13px;
}

.primärknapp {
  position: relative;
  background: linear-gradient(270deg, #6dcf37 0%, #00a2ff 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 22px;
  width: 77px;
  font-size: 6pt;
  margin-top: 10px;
  color: white;
  cursor: pointer;
  padding-bottom: 15px;
  border-radius: 0;
}

.primärknapp:disabled {
  opacity: 0.5;
  box-shadow: none;
}

.primärknapp:disabled:hover {
  opacity: 0.5;
  box-shadow: none;
  cursor: not-allowed;
}

.sekundärknapp {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid;
  border-image-source: linear-gradient(270deg, #6dcf37 0%, #00a2ff 100%);
  border-image-slice: 1;
  color: #3b5360;
  height: 20px;
  width: 75px;
  font-size: 6pt;
  margin-top: 10px;
  cursor: pointer;
  padding-bottom: 15px;
}

.sekundärknapp:focus:active {
  outline: none !important;
  box-shadow: none;
}

.sekundärknapp:hover {
  background: none !important;
  background-color: none !important;
}
.primärknapp:focus:active {
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

.MaskotBoll {
  position: absolute;
  z-index: -1;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0px 17.8857px 35.7714px rgba(0, 0, 0, 0.25);
}

.Logotype {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.gulboll {
  background: linear-gradient(180deg, #ffb400 15.1%, #bdff00 100%);
  box-shadow: 0px 17.8857px 35.7714px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: -1;
<<<<<<< Updated upstream
=======
  height: 150px;
  width: 150px;
>>>>>>> Stashed changes
}

.grönboll {
  background: linear-gradient(180deg, #21a826 35.32%, #00b2ff 100%);
  box-shadow: 0px 17.8857px 35.7714px rgba(0, 0, 0, 0.25);
  transform: rotate(131.38deg);
  position: absolute;
  z-index: -1;
}

.blåboll {
  background: linear-gradient(180deg, #ebee47 4.17%, #00b2ff 100%);
  box-shadow: 0px 17.8857px 35.7714px rgba(0, 0, 0, 0.25);
  transform: rotate(131.38deg);
  position: absolute;
  z-index: -1;
<<<<<<< Updated upstream
=======
  height: 200px;
  width: 200px;
>>>>>>> Stashed changes
}

.blåPostit {
  background: linear-gradient(180deg, #ffffff 0%, #d3f5ff 100%);
  color: #00a2ff;
}
.gulPostit {
  background: linear-gradient(180deg, #ffffff 0%, #ffe0c2 100%);
  color: #ffb400;
}
.grönPostit {
  background: linear-gradient(180deg, #ffffff 0%, #d6fbc1 100%);
  color: #6dcf37;
}
.grönPostit,
.gulPostit,
.blåPostit {
  width: 180px;
  height: 138px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Viga;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
}

.blåBadge,
.gulBadge,
.grönBadge {
  height: 20px;
  width: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: white;
  text-align: center;
  position: relative;
  top: -43px;
  left: 10px;
}
.blåBadge {
  background-color: #00a2ff;
}
.gulBadge {
  background-color: #ffb400;
}
.grönBadge {
  background-color: #6dcf37;
}
.greeting {
  background: linear-gradient(270deg, #6dcf37 0%, #00a2ff 100%);
  color: white;
  padding: 30px;
  margin: 0;
<<<<<<< Updated upstream
}
=======
  z-index: 2;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 420px) {
  .frostatGlas {
    width: 70vw;
  }
  .gulboll {
    display: none;
  }
}

@media only screen and (max-width: 1366px) {
  .gulboll {
    height: 300px;
    width: 300px;
  }
  .grönboll {
    width: 200px;
    height: 200px;
  }

  .blåboll {
    width: 400px;
    height: 400px;
  }
  .MaskotBoll {
    width: 240px;
    height: 240px;
  }
}

@media only screen and (max-width: 1680px) {
  .gulboll {
    height: 600px;
    width: 600px;
  }
  .grönboll {
    width: 400px;
    height: 400px;
  }

  .blåboll {
    width: 800px;
    height: 800px;
  }
  .MaskotBoll {
    width: 480px;
    height: 480px;
  }
}

@media only screen and (max-width: 1920px) {
  .gulboll {
    height: 700px;
    width: 700px;
  }
  .grönboll {
    width: 400px;
    height: 400px;
  }

  .blåboll {
    width: 800px;
    height: 800px;
  }
  .MaskotBoll {
    width: 500px;
    height: 500px;
  }
}
>>>>>>> Stashed changes
