body {
  margin: 0;
  background: linear-gradient(
      181.34deg,
      #ffffff 27.72%,
      rgba(255, 255, 255, 0) 98.5%
    ),
    #fff8e9;
  padding: 0;
  overflow-x: hidden;
  height: auto;
  background-repeat: no-repeat;
}
.App {
  display: flex;
  flex-flow: column wrap;
}

.frostatGlas {
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: 0.5px solid #a3a3a3;
  box-sizing: border-box;
  box-shadow: inset 0px 15.3829px 15.3829px rgba(0, 0, 0, 0.25);
  width: 90vw;
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 5px;
  padding-bottom: 10px;
  box-sizing: border-box;
  align-self: center;
}

.header-filler {
  height: 100px;
  background: linear-gradient(270deg, #6dcf37 0%, #00a2ff 100%);
  width: inherit;
}

.frostatGlas::-webkit-scrollbar {
  width: 0px;
}

.frostatGlas::-webkit-scrollbar-track {
  background-color: transparent;
}

.frostatGlas::-webkit-scrollbar-thumb {
  background: transparent; 
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
}

.sida-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
}
