body {
  margin: 0;
  background: linear-gradient(
      181.34deg,
      #ffffff 27.72%,
      rgba(255, 255, 255, 0) 98.5%
    ),
    #fff8e9;
  padding: 0;
  overflow-x: hidden;
  height: auto;
}
.App {
  display: flex;
  flex-flow: column wrap;
}
