.gulboll {
    background: linear-gradient(180deg, #ffb400 15.1%, #bdff00 100%);
    box-shadow: 0px 17.8857px 35.7714px rgba(0,0,0,0.25);
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.grönboll {
    background: linear-gradient(180deg, #21A826 35.32%, #00B2FF 100%);
    box-shadow: 0px 17.8857px 35.7714px rgba(0, 0, 0, 0.25);
    transform: rotate(131.38deg);
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.blåboll {
    background: linear-gradient(180deg, #EBEE47 4.17%, #00B2FF 100%);
    box-shadow: 0px 17.8857px 35.7714px rgba(0, 0, 0, 0.25);
    transform: rotate(131.38deg);
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
