body {
    margin: 0;
    font-family: 'Viga', sans-serif;
}

.InputDiv{
    background-color: #6dcf37;
    height:20px;
    width:200px;
    box-sizing: border-box;
    position: relative;
}

.inputfält{
width:50%;
height:60%;
float:right;
margin:1px;
position:absolute;
right:0px;
}

.inputlabel {
    color: white;
    font-size: 8pt; 
    position:absolute;
    left:10px;
    bottom:-8px;
   
}

.primärknapp {
    position: relative;
    background: linear-gradient(270deg, #6DCF37 0%, #00A2FF 100%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
height: 25px;
width: 75px;
font-size: 8pt;
color: white;
cursor: pointer;
}

.sekundärknapp {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #00A2FF !important;
    color: #3B5360 !important;
    height: 23px !important;
    width: 73px !important;
    cursor: pointer;
}

.sekundärknapp:focus:active {
    outline: none !important;
    box-shadow: none;
}

.sekundärknapp:hover {
    background: none !important;
    background-color: none !important;
}
.primärknapp:focus:active {
    outline: none !important;
    box-shadow: none;
}

.primärknapp > p {
    font-size: 6pt;
    top: -2px;


}
.sekundärknapp > p {
    position: absolute;
    font-size: 6pt;
    top: -1px;

}