.uppdrag-page-header {
  z-index: 2;
  color: white;
  position: absolute;
  top: 147px;
  margin-left: 125px;
}
.uppdrag-button-holder {
  z-index: 1;
  width: 50%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  top: 30px;
  left: 294px;
}

.InfoRad {
  margin: 10px;
}

.tabBox {
  margin: 0;
  position: absolute;
  top: 120px;
}

.tabbar:hover {
  cursor: pointer;
}

.tab-content {
  width: 800px;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

.inforad-uppgifter {
  color: #ffff;
}

.inforad-rubrik {
  padding-right: 15px;
  color: #3b5360;
}

.inforad-rubrik:hover {
  color: #3b5360;
  text-decoration-line: none !important;
}

.inforad-uppgifter:hover {
  color: #ffff;
  text-decoration-line: none !important;
}

.inforad-rubrik:focus {
  color: #3b5360;
  text-decoration-line: none !important;
}
.inforad-rubrik:active {
  color: #3b5360;
  text-decoration-line: none !important;
}

.popup-nytt-uppdrag-container {
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
}

.popup-nytt-uppdrag-header {
  display: flex;
  flex-flow: row;
  width: inherit;
  height: 75px;
  margin-top: 0px;
  text-align: start;
  padding-left: 20px;
  background: #6dcf37;
  color: white;
  font-size: 18pt;
}

.nytt-uppdrag-rubrik {
  position: absolute;
  z-index: 9;
  left: 185px;
  top: 93px;
}

.popup-nytt-uppdrag-body {
  display: flex;
  flex-flow: column nowrap;
  width: inherit;
  justify-content: space-between;
  margin-top: 120px;
  padding-bottom: 20px;
}

.skapa-nytt-uppdrag-inputcontainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.skapa-nytt-uppdrag-footer {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
}
