.uppdrag-page-header {
  z-index: 2;
  color: white;
  position: absolute;
  top: 147px;
  margin-left: 125px;
}
.uppdrag-button-holder {
  width: 68%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  top: 30px;
  left: 294px;
}

.InfoRad {
  margin: 10px;
}

.tabBox {
  margin: 0;
  position: absolute;
  top: 120px;
}

.tab-content {
  width: 800px;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
}

.inforad-uppgifter {
  color: #ffff;
}

.inforad-rubrik {
  padding-right: 15px;
  color: #3b5360;
}

.inforad-rubrik:hover {
  color: #3b5360;
  text-decoration-line: none !important;
}

.inforad-uppgifter:hover {
  color: #ffff;
  text-decoration-line: none !important;
}

.inforad-rubrik:focus {
  color: #3b5360;
  text-decoration-line: none !important;
}
.inforad-rubrik:active {
  color: #3b5360;
  text-decoration-line: none !important;
}
