.weather-container {
  z-index: 0;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  height: 300px;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.weather-image {
  Sz-index: 1;
  position: absolute;
  object-fit: contain;
}

.weather-picture {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.text-container {
  position: absolute;
  z-index: 2;
  margin-top: 30%;
  margin-left: 35%;
  color: white;
}

@media only screen and (max-width: 420px){
  .text-container{
  bottom:-155px;
  margin-left:50px;
  color:black;
 

  }
  .weather-image{
    display: none;
  }
  .weather-container{
    position:initial;
  }
}

@media only screen and (max-width: 1366px){
  .text-container{
    margin-top:17%;
    margin-left:40%;
  }
}
@media only screen and (max-width: 1680px){
  .text-container{
    margin-top:12%;
    margin-left:35%;
  }
}

@media only screen and (max-width: 1920px){
  .text-container{
    margin-top:12%;
    margin-left:35%;
  }
}