
.login-container, .forgot-container, .register-container {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}
.headline {
  color: #3b5360;
  font-size: 14pt;
}
.signin-form, .forgot-form, .register-form {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
}
.forgot-link {
  position: absolute;
  font-size: 6pt;
  color: #3b5360;
  cursor: pointer;
  bottom: 10px;
}