body {
  margin: 0;
  font-family: 'Viga', sans-serif;
  width: 100vw;
  height: 100vh;
}

.frostatGlas {
  position: relative;
  background-color: #ffffff;
  opacity: 0.5;
  backdrop-filter: blur(50px);
  border: 1px solid #a3a3a3;
  box-shadow: inset 0px 15px 15px rgba (0, 0, 0, 0.25);
  min-width: 50vw;
  min-height: 80vw;
  margin-bottom: 5px;
  box-sizing: border-box;
  align-self: center;
}

.InputDiv {
  background-color: #6dcf37;
  height: 20px;
  width: 200px;
  padding: 1px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}

.inputfält {
  width: 50%;
  height: 80%;
  float: right;
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 6pt;
  font-weight: 10;
}

.inputlabel {
  color: white;
  font-size: 8pt;
  position: absolute;
  left: 10px;
  bottom: -13px;
}

.inputhelp {
  font-size: 4pt;
}

.primärknapp {
  position: relative;
  background: linear-gradient(270deg, #6dcf37 0%, #00a2ff 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 22px;
  width: 77px;
  font-size: 6pt;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
  padding-bottom: 15px;
  border-radius: 0;
  z-index: 1;
}

.primärknapp:disabled {
  opacity: 0.5;
  box-shadow: none;
}

.primärknapp:disabled:hover {
  opacity: 0.5;
  box-shadow: none;
  cursor: not-allowed;
}

.sekundärknapp {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid;
  border-image-source: linear-gradient(270deg, #6dcf37 0%, #00a2ff 100%);
  border-image-slice: 1;
  color: #3b5360;
  height: 20px;
  width: 75px;
  font-size: 6pt;
  cursor: pointer;
  padding-bottom: 15px;
}

.sekundärknapp:focus:active {
  outline: none !important;
  box-shadow: none;
}

.sekundärknapp:hover {
  background: none !important;
  background-color: none !important;
}
.primärknapp:focus:active {
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

.logotype-svart {
  height: 50px;
  width: 35px;
  padding-bottom: 10px;
}

.topRad,
.bottomRad {
  width: 70%;
  height: 45px;
}

.topRad {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
}
.ProfilePicInfolåda {
  position: relative;
  top: 43px;
  left: 45px;
}

.topRad h6,
.bottomRad h6 {
  margin: 10px;
}

h6 {
  padding: 6px;
}
.uppgifter {
  color: white;
}

.bottomRad {
  background: linear-gradient(270deg, #6dcf37 0%, #00a2ff 100%);
}

.ProfilBild {
  width: 70px !important;
  height: 70px !important;
  background-color: grey;
  border-radius: 50px;
  /* position: absolute; */
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxNav {
  width: 250px;
  height: 75px;
  background: linear-gradient(270deg, #6dcf37 0%, #00a2ff 100%);
  position: absolute;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.boxBody {
  width: 250px;
  height: 270px;
  background: #f3f3f3;
  opacity: 0.9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.FöretagsInfo {
  position: relative;
  top: 120px;
  text-align: center;
  width: 100%;
}

#infoBtn {
  padding: 6px;
  position: absolute;
  left: 35%;
}

.form-control-sm,
.fa-search:before {
  border-radius: 0;
  box-shadow: inset 0px 17.8857px 17.8857px rgba(0, 0, 0, 0.25);
  border: 1px solid #00a2ff;
}

.form-control-sm {
  border-left: none;
  border-radius: 0;
}

.fa-search:before {
  color: #00a2ff;
  padding: 6.5px;
  border-right: none;
  margin-right: -5;
  width: 100px;
  height: 100px;
  background-color: none;
}
