.login-container, .forgot-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
}
.headline {
  color: #3b5360;
  font-size: 14pt;
  z-index: 2;
}
.signin-form, .forgot-form {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
  z-index: 2;
}
.forgot-link {
  font-size: 6pt;
  position: absolute;
  top: 270px;
  left: 200px;
  color: #3b5360;
  cursor: pointer;
}